<div class="sidebar">
  <div class="container">
    <div class="sidebar-about">
      <!-- <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1> -->
      <!-- <p class="lead">{{ site.description }}</p> -->
    </div>


    <img src="{{ site.baseurl }}/Images/IMG_8548.jpg">

    <br>
    <!-- <br>
    <br>
    <br> -->
    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a>

      {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}

    {% assign pages_list = site.pages %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "page" %}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
        {% endif %}
      {% endif %}
    {% endfor %}

      <!-- <a class="sidebar-nav-item" href="{{ site.baseurl }}/publications/">Research</a>
      <a class="sidebar-nav-item" href="{{ site.github.repo }}">CV</a> -->
      <!-- <span class="sidebar-nav-item">Currently v{{ site.version }}</span> -->
    </nav>

   
    <!-- <br>
    <br> -->

    <p class="lead">235 Steinmetz Hall<br>
      807 Union Street<br>
      Schenectady, NY 12308<br><br>
      Tel: +1 (518) 388-6935<br>
      talkadsp (at) union.edu
    </p>

    <p class="lead"><a href="https://twitter.com/poorna_sukumar">
        Twitter: @poorna_sukumar
      </a><br>
      <a href="https://scholar.google.com/citations?user=6b8DvKwAAAAJ&hl=en">
        Google Scholar
      </a>
    </p>

    <!-- <br> -->


    <!-- <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p> -->
  </div>
</div>