---
layout: default
title: Research
---

<div class="posts">
  <!-- {% for post in paginator.posts %} -->
  <div class="sidebar-about">
    <h1>
      <a href="{{ site.baseurl }}/Publications/publications.html">
        Publications
      </a>
    </h1>
  </div>
  <div class="post">
    <!-- <span class="post-date">{{ post.date | date_to_string }}</span> -->


    I am the **Mary H. '80 and Richard K. '80 Templeton Assistant Professor** in the [Department of Computer
    Science](https://www.union.edu/computer-science) at Union College, Schenectady, USA.

    I completed my Ph.D. in Computer Science and Engineering from the University of Notre Dame, USA under the guidance
    of [Dr. Aaron Striegel](http://sites.nd.edu/aaron-striegel/) and [Dr. Ronald
    Metoyer](http://sites.nd.edu/ronald-metoyer/).

    My research falls within the realms of human-computer interaction (HCI) and information visualization. I am
    generally interested in building user interfaces and applying human-centered methods to understand people and their
    interactions with technology and visualizations.

    I have a Master’s degree in Mobile and Ubiquitous Computing from Lancaster University, UK and a Bachelor’s degree in
    Computer Science and Engineering from Visvesvaraya Technological University, Karnataka, India.

  </div>
  <!-- {% endfor %} -->
</div>

<!-- <div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div> -->